#logo {
    display: block;
    margin: 0 auto;
}

td {
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: center;
}

th {
    padding-right: 15px;
}

#team-logo {
    height: 50px;
}


#rate {
    background: url("../images/rate.png") no-repeat center;
    height: 35px;
    width: 50px;
}

#rate p {
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}
